/* src/index.css */
body {
  margin: 0;
  display: block; /* Quita el centrado forzado de Vite */
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f4f8; /* Fondo gris clínico suave */
}

#root {
  width: 100%;
}